
.password-toogle-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px; /* Ajustez cette valeur selon votre préférence */
    z-index: 1000;
    cursor: pointer;
}
